<header class="site-header">
    <div class="c-header__top">
        <ul class="search-main-menu">
            <li>
                <search-header></search-header>
            </li>
        </ul>
        <!-- pc menu -->
        <div class="main-navigation style-1 ">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-navigation_wrap">
                            <div class="wrap_branding">
                                <a href="/" aria-current="page" class="logo _exact _on" title="<%= process.env.APP %>">
                                    <img class="logo-svg" src="/images/logo.svg" alt="">
                                </a>
                            </div>

                            <div class="main-menu">
                                <ul class="nav navbar-nav main-navbar">
                                    <li class="menu-item">
                                        <a href="/">TRANG CHỦ</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="<%= process.env.FANPAGE %>" target="_blank">HỘI NHÓM</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="<%= process.env.STUDIO %>" target="_blank">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            ĐĂNG TRUYỆN
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="search-navigation search-sidebar">
                                <div id="manga-search-3"
                                     class="widget col-12 col-md-12   default no-icon  manga-widget widget-manga-search">
                                    <div class="widget__inner manga-widget widget-manga-search__inner c-widget-wrap">
                                        <div class="widget-content">
                                            <div class="search-navigation__wrap">
                                                <ul class="main-menu-search nav-menu">
                                                    <li class="d-flex justify-content-end menu-search">
                                                        <a href="javascript:;" class="open-search-main-menu">
                                                            <i class="icon ion-ios-search"></i>
                                                        </a>
                                                        <ul class="search-main-menu">
                                                            <li>
                                                                <form class="manga-search-form search-form ajax"
                                                                      action="/tim-kiem"
                                                                >
                                                                    <input class="manga-search-field ui-autocomplete-input"
                                                                           type="text" placeholder="Tìm kiếm..."
                                                                           name="keyword" value="" autocomplete="off">
                                                                    <input type="hidden" name="post_type"
                                                                           value="wp-manga">
                                                                    <i class="icon ion-ios-search"></i>
                                                                    <div class="loader-inner ball-clip-rotate-multiple">
                                                                        <div></div>
                                                                        <div></div>
                                                                    </div>
                                                                    <input type="submit" value="Search">
                                                                    <ul id="ui-id-2" tabindex="0"
                                                                        class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front"
                                                                        style="display: none;"
                                                                    >
                                                                    </ul>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-togle__menu">
                                <button type="button" class="menu_icon__open">
                                    <span></span> <span></span> <span></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu menu-collapse off-canvas">
        <div class="close-nav">
            <button class="menu_icon__close">
                <span></span> <span></span>
            </button>
        </div>
        <div class="c-modal_item">

            <% if (user) { %>
                <div class="c-user_item">
                    <div class="c-user_avatar">
                        <div class="c-user_avatar-image">
                            <img alt="<%= user.name %>" src="<%= user.avatar %>" height="50" width="50" class="avatar avatar-50 photo">
                        </div>
                    </div>
                </div>
            <% } else { %>
                <!-- Button trigger modal -->
                <a href="javascript:void(0)" data-toggle="modal" data-target="#form-login"
                   class="btn-active-modal">Đăng Nhập</a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#form-sign-up"
                   class="btn-active-modal">Đăng Ký</a>
            <% } %>

        </div>
        <nav class="off-menu">
            <ul class="nav navbar-nav main-navbar">
                <li class="menu-item">
                    <a href="/">TRANG CHỦ</a>
                </li>
                <li class="menu-item">
                    <a href="<%= process.env.FANPAGE %>" target="_blank">HỘI NHÓM</a>
                </li>
                <li class="menu-item">
                    <a href="<%= process.env.STUDIO %>" target="_blank">
                        <i class="fas fa-cloud-upload-alt"></i>
                        ĐĂNG TRUYỆN
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="clone-header"></div>
    <div class="c-sub-header-nav with-border">
        <div class="container ">
            <div class="c-sub-nav_wrap">
                <div class="sub-nav_content">
                    <ul class="sub-nav_list list-inline second-menu">
                        <% for (let category of categories.slice(0, 6)) { %>
                            <li class="menu-item">
                                <a href="/the-loai/<%= category.slug %>.<%= category._id %>">
                                    <%= category.name %>
                                </a>
                            </li>
                        <% } %>
                        <li id="menu-item-72" class="menu-item menu-item-has-children parent">
                            <a href="javascript:void(0)">THÊM</a>
                            <ul class="sub-menu">
                                <% for (let category of categories) { %>
                                    <li class="menu-item">
                                        <a href="/the-loai/<%= category.slug %>.<%= category._id %>">
                                            <%= category.name %>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                            <i class="mobile-icon icon ion-md-more"></i>
                    </ul>
                </div>

                <div class="c-modal_item">
                    <% if (user) { %>
                        <div class="c-user_item">
                            <div class="c-user_meta"><span>Chào bạn, <%= user.name %></span></div>
                            <div class="c-user_avatar">
                                <div class="c-user_avatar-image">
                                    <img alt="<%= user.name %>" src="<%= user.avatar %>" height="50" width="50"
                                         class="avatar avatar-50 photo">
                                </div>
                                <ul class="c-user_menu">
                                    <li><a href="/settings/account">Cài đặt chung</a></li>
                                    <li><a class="logout-button" href="javascript:void(0)">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    <% } else { %>
                        <!-- Button trigger modal -->
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#form-login"
                           class="btn-active-modal">Đăng Nhập</a>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#form-sign-up"
                           class="btn-active-modal">Đăng Ký</a>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
</header>
